* {
    background: #f5f6f8;
}

.flashContainer {
    width: 95%;
    background: #fff;
    padding: 12px 16px 16px;
    box-sizing: border-box;
    /* height: 280px; */
    border-radius: 4px;
    position: relative;
    margin: auto;
}

.top {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #fff;
}

.top div {
    background: #fff;
}

.head {
    background: url(../Images/flash_icon2.png) no-repeat;
    width: 165px;
    height: 29px;
    background-size: 80%;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    background: #fff;
}

a {
    font-size: 14px;
    color: #333;
    position: relative;
    text-decoration: none;
    outline: none;
    background: #fff;
}

.oriprice {
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 8px;
    color: #333;
    display: block;
}

.items {

    width: 100%;
    margin: auto;
    background-color: white;

}

.items span {
    background: #fff;
}

.items img {
    border: 1px solid rgb(248, 246, 246);
    background: #fff;
}

.items img:hover {
    box-shadow: 0 4px 12px rgb(0 0 0 / 8%);
}

.items span img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.bottom .items .off {
    position: absolute;
    top: 17.5%;
    left: 1.3%;
    font-size: 0;
    width: 61px;
    height: 24px;
    z-index: 1;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHoAAAAwCAYAAADemm7uAAAAAXNSR0IArs4c6QAABStJREFUeF7tXD1s1DAU/t4xUFR+BsTEghCUnwUWBGJihYWtYqQTUyshBsQGYkEMSAxIbMBY3cBSjisLIAZg6BUQDDAgipAQGz9CRQhilOTiOI5ztu9yd0l5XdJrfbHj956/73vPMUH7EbO7jkA0ZgDsA2g/hNgKECAAUHiNfomv4eegew3/nPw9vMZfUNrHHxF0r2p7/b6V7S95LG0e1PmInktpJ+dHm4+okeN8JtNpmk9pj659CvoLbxGP6/SOCWxcfwkQ5wCsi63SHbBspD2E+lCqwxQaXfm+qX1p/Wn9JOPUJ7eoP9nONl4BCNWp1flR5i6ZjzH2F1lTzE4dADAP0B4ZqaqnqB6qRrSvJ0eRW+DJVewvt2K5RrQhUjORl6xslna+856xR3bl7Rp69xWAzsf+mBhDi2bpjV0PjjzZ4vHJw5lWBPllw/JuWilMkWO8b8G4ZFQr/fmMK7cCJfNTj/5IzO09CgRPINDIYG8uchmjnThIxkkVLqPPpw4jRs7juoLYOQGJ2T03AXEmdVjN41V804mGMfKSO/UROWPEsGjUOSyvCUY7rGwk5qaeAXQ4x6ariJlrhRNI9VEWRts5QWjorxDYYozojIfrDNzANh08yxw5XeJgjeiEYKiAWcBuC+/Vx0pTNA8qm654fyRmp4SUvUWsrbK6VjXaKHR7eZiZEl+HvEQZOlrMTYk8NlkiTCZPXFm3FonGCClTt2vjYh2NbkSXhRUW9sc6WiYM4wxhyfPeS0ebI9qVbbpGtGOEJQsJ6+gsCdElmyl/YckTMEbrueJBc/mV1dFlY/QgGSgr63ZdaQycQBIaLaNlyhPIZEZN+nNQO6G8CstP+aoU6+hslU5PFpmqRK4cZEw6uph1s47O5v4dIkeC6yAr2xB0O2O0F0bXVkd/i5duX53JOjrdPVGPevRb1tG5Qk2vTJVrRNtzz6PV0Y3HBRHtyjZZR8udOJXOdYt5xmgvjHbIrVdTR18vH6MHYZuso+MlsrAWULBHzaoGxFnW0b0welj171HraDSO945o1tFrQUd/x6bVbYzRXhjtyrrte7hGWI+ep8XOqfIxWmKMibjY2HxZ+8gdq2X/AyeAmKF25zbr6LWto8Nk2HZaXPrMOlqN6qIM4RByz3l2re1vVyvS/dajBZ7T4tKR8FaM0V4YXTsdfYHaS1diQ5ed62YdnW4XMkXiMOrfRh2ND/i1eR89evQrNTTXo81vi9ZbR0ckLPEB1tFrEaOB19i48yA1m39TQ/O+7jQpYn3/uyY6uoHj1Oq0VT5XPkazjh49Rmd3zz6m+51jqpEV1s17xtxOdHCN6LHVo7+D/hyi1st3eUMbWbctg5VUUbgeXZl6dHhoSIAT1O4s6kZmHZ07E8TxTJFeZ7SMqx4diAvUXo40s9nQrKPTecllxlxXtjHvIwea1OpMFxmZdbR+jIfxdCT11KWS3i0rtR4tXmBy4ig1n67aDe2b442YNb8fLQ/e0TNTmarYUN/HXsDk+mmbkRmjvTHalXUPvR4dsuGLuLd8WTlaqFdADyHXzTp6uDoatIoA09TqLPS0rPZPrkfXqx69AoiTtLD80sfIKRnrm22yjh6Rjv4C0DX8/nODHrz66WtkxmhvjB51PZreA7iKH5vvJOXGfozcI6KT5Gkfe7i4Hj0YRguE9eOHENSkhc6tfg1rToFyPXq89WjCJwRoQaCFiQ0PXOSSrwNwPVrVvL75hKi981mg3wCsAPiIACtoYAWB+IiGeEN3X732NZxv+3+7xCfUGdHzEAAAAABJRU5ErkJggg==) no-repeat;
    background-size: 100% 100%;
    line-height: 24px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.top {
    display: flex;
    height: 27px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.lowerContainer {
    width: 95%;
    /* background: #fff; */
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;

}

.lowerContainer>div {
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.leftSide {
    box-sizing: border-box;
    width: 49.5%;
    padding: 16px;
}

.rightSide {
    box-sizing: border-box;
    padding: 16px;
    width: 49.5%;
}

.title {
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.title div {
    background: #fff;
}

.title span {
    display: flex;
    height: 27px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    background-color: #fff;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.discoverDiv {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    border-radius: 4px;
}

.discoverDiv div span {
    background: #fff;
}

.discoverDiv img {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    border: 1px solid rgb(248, 246, 246);
}

.topBrands img {
    border-radius: 4px;
    width: 100%;
    border: none;
}

.oriprice {
    background: #fff;
}

.discoverDiv img:hover {
    border-radius: 4px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 8%);
}

.topBrands img:hover {
    border-radius: 4px;
    box-shadow: none;
}

.topBrands div {
    padding: 20px;
    border: 1px solid rgb(248, 246, 246);
    /* margin-top: 20px; */
    line-height: 0%;
    background: rgba(0, 0, 0, 0.01);
}