.hotContainer {
    width: 95%;
    margin: auto;
    /* background: rgba(0, 0, 0, 0.01); */
    margin-bottom: 20px;
}

.heading {
    background: url(../Images/hot_cate2.png) no-repeat;
    width: 165px;
    height: 30px;
    background-size: 100%;
}

.left {
    position: relative;
    width: 288px;
    height: 288px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 16px 16px;
    border-radius: 4px;
    background: linear-gradient(137deg, #c9eaff, #d8fafe);
    display: flex;
    flex-direction: column;

}

.cateName {
    display: inline-block;
    height: 24px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    background: linear-gradient(137deg, #c9eaff, #d8fafe);

}

.goBtn {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 600;
    padding: 0 4px;
    display: inline-block;
    text-align: center;
    width: 70px;
    background: #0c8dff;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
}

.proList {
    width: 100%;
    height: 170px;
    margin-top: 25px;
    padding: 0px;
    background: linear-gradient(137deg, #c9eaff, #d8fafe);
}

.proList {
    display: flex;
}

.proList span {
    margin: 2px;
    background: linear-gradient(137deg, #c9eaff, #d8fafe);
}

.proList .img img {
    max-width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 0;
}


.down {
    width: 100%;
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.right {
    /* background-color: #fff; */
    border-radius: 8px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.right>div {
    background-color: white;
}

.right>div>span {
    padding-left: 10px;
    line-height: 2;
    background-color: #fff;
}

.computer span img {
    margin-top: 9px;
    border-radius: 4px;
    width: 82px;
    height: 82px;
    cursor: pointer;
}

.computer span img:hover {
    box-shadow: 0 4px 12px rgb(0 0 0 / 8%);
}

.computer {
    justify-content: center;
    text-align: center;
    background: #fff;
}

.computer span {
    padding: 7px;
    background: #fff;
}